.chart {
  flex: 4;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 201.71);
  -webkit-box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.47);
  padding: 10px;
  color: #293c82;

  .title {
    margin-bottom: 1rem;
  }
  .chartGrid {
    stroke: rgba(219, 214, 214, 0.755);
  }
  svg {
    width: 100%;
  }
}
