.home {
  display: flex;
  .home-container {
    flex: 4;

    .widgets,
    .charts {
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;
      gap: 20px;
    }
    .listContainer {
      padding: 1.2rem;
      margin: 1.5rem;
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 201.71);
      -webkit-box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.47);

      .listTitle {
        font-weight: 600;
        color: #6272a4;
        margin-bottom: 1rem;
      }
    }
  }
}
