.sideBar {
  // flex: 1;
  width: fit-content;
  border-right: 1px solid #293c82;
  min-height: 100vh;
  background-color: #fafafa;

  .top {
    height: 3.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4rem;

    .logo {
      font-size: 1.4rem;
      font-weight: bold;
      color: #293c82;
    }
  }
  hr {
    height: 0;
    border: 1px solid #293c82;
  }
  .center {
    padding: 1rem 1.4rem;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      .title {
        font-size: 1rem;
        font-weight: bold;
        color: #293c82;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        color: #472782;
        &:hover {
          background-color: #3a56ba5f;
          border-radius: 5px;
        }
        .icon {
          font-size: 1.2rem;
          color: #9737ba;
        }
        span {
          margin-left: 0.7rem;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 0.8rem;

    .colorOption {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 5px;
      border: 1px solid #44475a;
      cursor: pointer;
      margin: 1rem;

      &:nth-child(1) {
        background-color: #282a36;
      }
      &:nth-child(2) {
        background-color: #f8f8f2;
      }
    }
  }
}
